[tool.poetry]
name = "protosym"
version = "0.0.1"
description = "ProtoSym"
authors = ["Oscar Benjamin <oscar.j.benjamin@gmail.com>"]
license = "BSD-3-clause"
readme = "README.rst"
homepage = "https://github.com/oscarbenjamin/protosym"
repository = "https://github.com/oscarbenjamin/protosym"
documentation = "https://protosym.readthedocs.io"
classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.urls]
Changelog = "https://github.com/oscarbenjamin/protosym/releases"

[tool.poetry.dependencies]
python = "^3.8.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
coverage = {extras = ["toml"], version = "^7.2.0"}
safety = "^2.3.5"
mypy = "^1.0.1"
typeguard = "^2.13.3"
xdoctest = {extras = ["colors"], version = "^1.1.1"}
sphinx = "^6.1.3"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^3.1.0"
flake8 = "^6.0.0"
black = "22.12.0"
flake8-bandit = "^4.1.1"
flake8-bugbear = "^23.2.13"
flake8-docstrings = "^1.7.0"
flake8-rst-docstrings = "^0.3.0"
pep8-naming = "^0.13.3"
darglint = "^1.8.1"
reorder-python-imports = "^3.9.0"
pre-commit-hooks = "^4.4.0"
sphinx-rtd-theme = "^1.2.0"
Pygments = "^2.14.0"
nox = "^2022.11.21"
gitpython = "^3.1.31"
py = "^1.11.0"
setuptools = "^67.4.0"
pytest-coverage = "^0.0"
sympy = "^1.11.1"
pip-upgrader = "^1.4.15"
flake8-type-checking = "^2.3.0"


[tool.poetry.group.utils.dependencies]
ipython = "^8.10.0"
jupyter = "^1.0.0"

[tool.poetry.scripts]
protosym = "protosym.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["protosym"]

[tool.coverage.report]
show_missing = true
fail_under = 100
exclude_lines = [
    "pragma: no cover",
    "if _TYPE_CHECKING:",
]

[tool.mypy]
strict = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[[tool.mypy.overrides]]
module = [
    'jinja2',
    'py',
]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
